.input-field {
    position: relative;
    line-height: 44px;
    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: black;
        transition: 0.2s all;
        cursor: text;
    }
    input {
        width: 100%;
        border: 0;
        outline: 0;
        padding: 0.5rem 0;
        border-bottom: 2px solid black;
        box-shadow: none;
        color: #111;
        background: transparent;
        border-radius: 0;
    }
    input:invalid {
        outline: 0;
        // color: #ff2300;
        // border-color: #ff2300;
    }
    input:focus,
    input:valid {
        border-color: $ciemny-niebieski;
        box-shadow: none;
        background: transparent;
    }
    input:focus~label,
    input:valid~label {
        font-size: 14px;
        top: -24px;
        color: $ciemny-niebieski;
    }
}
.card {
    border: 0;
    &-header {
        border: 0;
        background-color: transparent;
        z-index: 1;
        margin-bottom: 3rem;
    }
    &-body {
        box-shadow: 0px 0px 24px 16px whitesmoke;
        background-color: whitesmoke;
        form>div {
            display: none;
        }
        form>.active {
            display: block;
        }
    }
    .links {
        display: flex;
        justify-content: space-between;
        .forget, .register {
            color: black;
            text-decoration: none;
            transition: all .3s ease-in-out;
            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
    }
    .notValid {
        input {
            color: red;
        }
        &::after {
            content: "Dane nie są prawidłowe";
            color: red;
        }
    }
    .notSame {
        input {
            color: red;
        }
        &::after {
            content: "Hasła nie są takie same";
            color: red;
        }
    }
    .logo {
        font-size: calc(1.3rem + .6vw);
        text-decoration: none;
    }
}